<div class="backg">
    <h2 style="color: white;">Welcome</h2>
    <div class="insi1">
        Hello All, My Name is Bharath, i am freelance full stack web developer.My passions include video gaming,watching
        tv series,movies,listening to podcasts,spirituality,i am not much into reading,i prefer listening over reading,i
        am well educated had my bachelors in computer science
    </div>
    <br>
    <h4 style="color:white;">Contact Details</h4>
    <br>
    <div>
        <h6 style="color: white;">
            Address
        </h6>
        <Address style="color:white;">Plavila Veedu,Neeleswaram P.O,Kottarakara,Kollam,Kerala,India</Address>

        <h6 style="color: white;">Phone Number</h6>
        <div style="color: white;">
            8848610950
        </div>
    </div>
    <br>
    <button class="btn btn-primary">Hire Me</button>
</div>