<div class="test1">
  <section>
    <h1>Services&#8595;</h1>
  </section>
  <section class="tr" style="background: #e5e5e5;">
    <div class="container reveal">
      <h2>Services Provided</h2>
      <div class="text-container">
        <div class="text-box">
          <h3>Data Analytics</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>
        <div class="text-box">
          <h3>Full stack web development</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            eius molestiae perferendis eos provident vitae iste.
          </p>
        </div>

      </div>
    </div>
  </section>


</div>